html,
body {
	height: 100%;
}

body {
	background: #234 url(../images/bg.jpg) no-repeat 50% 50% fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: #FFF;
	font-family: "Open Sans", sans-serif;
}
a {
	color: #FFF;
}
a:hover {
	color: #000;
}

section {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 300px;
	margin: -150px 0;
	text-align: center;
}
article {
	display: inline-block;
	font-size: 30px;
	line-height: 2;
}

h1 {
	font-weight: 300;
	font-size: 75px;
}
h1, p {
	margin: 0;
}
a {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 100px;
	border: 2px solid #FFF;
	margin: 0 .25em;
	transition: .25s;
}
a:hover {
	background: #FFF;
}
